{% set siteName = 'Kyle Gach' %}
{% set pageTitle = title + ' • ' + siteName if title else siteName %}

{% set isHome = page.url === '/' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pageTitle }}</title>
  <link href="/feed/atom.xml" rel="alternate" type="application/atom+xml" title="Kyle Gach" />
  <link href="/feed/atom.xml" rel="feed" title="Kyle Gach">
  <link href="/styles/site.css" rel="stylesheet">
</head>
<body>
  {% if not isHome %}
    <p style="background:lightyellow; font-size:smaller; margin-top:0; padding:0.5rem">
      I’m remaking this website in the open. Follow along, if you wish: <a href="/writing/">Writing</a>, <a href="/feed/atom.xml">RSS</a>
    </p>
  {% endif %}

  <header>
    <nav>
      <a href="/"><strong>Kyle Gach</strong></a>
    </nav>
    {% if isHome %}
      <p>Rhymes with scratch</p>
    {% endif %}
    <br />
  </header>

  {{ content | safe }}

  <hr />
  <footer>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/writing/">Writing</a></li>
        <li><a href="/feed/atom.xml">RSS</a></li>
      </ul>
    </nav>
    <ul>
      <li><a href="mailto:kyle.gach@gmail.com">Email</a></li>
      <li><a href="https://twitter.com/@kylegach">Twitter</a></li>
      <li><a href="https://github.com/kylegach">GitHub</a></li>
    </ul>
  </footer>
</body>
</html>